<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">

  <link rel="stylesheet" href="/layui/css/layui.css" media="all" />
  <link rel="stylesheet" href="/css/global.css" media="all">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <%- defineContent('style') %>
</head>
<body>
  <%- defineContent('content') %>
</body>
  <script type="text/javascript" src="/layui/layui.js"></script>
  <script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="/js/global.js"></script>
  <%- defineContent('script') %>
</html>