<%- contentFor('style') %>
<title>我的借款</title>
<style>
	.hide{
		display: none;
	}
</style>

<%- contentFor('content') %>
<ul class="loan-list"></ul>
<%- contentFor('script') %>
<script>
    var openId = getQueryString('openId');
    //获取贷款信息
    $.ajax({
        url:ajaxhost+'/ssm/user/findApply',
        data:{openId:openId},
        type:'post',
        success:function(data){
						if(data.code==0){
							var html = '';
							for(var i=0;i<data.message.length;i++){
								var status = (data.message[i].status==0&&"待审核")||(data.message[i].status==2&&"审核通过")||(data.message[i].status==1&&"审核失败");
								var isHide = data.message[i].status==1?"":"hide";
								var reason = data.message[i].reason?data.message[i].reason:'';
								html+='<li class="loan-item">'+
												'<div class="weui-form-preview">'+
														'<div class="weui-form-preview__bd">'+
																'<div class="weui-form-preview__item">'+
																		'<label class="weui-form-preview__label">借款金额</label>'+
																		'<span class="weui-form-preview__value">￥'+data.message[i].money+'</span>'+
																'</div>'+
																'<div class="weui-form-preview__item">'+
																		'<label class="weui-form-preview__label">借款状态</label>'+
																		'<span class="weui-form-preview__value">'+status+'</span>'+
																'</div>'+
																'<div class="weui-form-preview__item reason '+isHide+'">'+
																		'<label class="weui-form-preview__label">审核失败原因</label>'+
																		'<span class="weui-form-preview__value">'+reason+'</span>'+
																'</div>'+
														'</div>'+
												'</div>'+
										'</li>';
							}
							$(".loan-list").html(html);
						}else{
							$.alert("获取信息失败，请刷新页面重试","温馨提示");
						}
        }
    })
</script>